*{
    padding: 0;
    margin: 0;
}



body {
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(rgb(144, 49, 221), rgb(84, 124, 211)) ;
    background-repeat: no-repeat;
    height: 790px;
}

.informa{
    border-radius: 20px;
    background-color: white;
    width: 900px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 200px;
    margin-left: 300px;
}

.nome{
    justify-content: center;
    display: flex;
}

.foto{
    width: 50%;
}

.face{
    color: #225ddd;
}

.insta{ 
    color: #cc77fd;
}

.tt{
    color: rgb(0, 0, 0);
}

.icons ul{
    display: inline-block;
    margin-top: 10px;
    margin-right: 85px;
}

.entrar{
    background-color: #50a389;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 85%;
}

.esqueciasenha{
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 85%;
}

.text{
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 77%;
    margin-top: 10px;
}

#login{
    margin-left: 200px;
}
